<h1>Profile Page</h1>

<%= button_to "Sign in", sessions_path, method: :post %>

<% if current_page?(controller: "profiles", action: "show") %>
  <strong>Currently on the profile page</strong>
<% end %>

<%= link_to "Profile", profile_path(@profile) %>
<%= link_to "Articles", articles_path, class: "article__container" %>

<%= mail_to "john_doe@gmail.com", "Email Me", subject: "Hello", cc: "cc@example.com" %>

